/*Version 0.9 del estilo del layout*/
/* Color original de fondo #510052*/
/* Color de fondo para esta version #3C003D*/
body {
background-color: #E2DBE3	;
font-family: 'Ubuntu', sans-serif;
}

a:link {color:white;}
a:visited {color:yellow;}
a:hover {color:black;}
a:active {color:yellow;}

h2 {
	font-style: italic;
}

.logo {
	position:relative;
	top:14;
	/*background-image: url("/img/otro-logo.svg"),url("/img/back-topbar05.svg");*/
	/*left:120;*/
	text-align: center;
	/*margin: 0;*/
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border: 0;
	height: 110;
	width: 40%;
}

.ingresar {
	position:absolute;
	top:0;
	right:0;
	height: 20;
	width: 20%;
	text-align: center;
}

.ingresar a:link { color: black; }
.ingresar a:visited { color: blue; }
.ingresar a:hover { color: red; }
.ingresar a:active { color: yellow; }

.banner	{
	position: absolute;
	top: 0;
	left: 0;	
	height: 196;
	width: 100%;
	background-color: #3C003D;
	background-image:url("/img/fondos/titulo.png");
	background-size: 256px 128px;
	background-repeat:no-repeat;
	color: red;
	text-align: center;
	vertical-align: bottom;
}

.empresa {
	position: relative;
	top: 0;
	/*width: 50%;*/
	height: 64px;
	border: 0;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2em;
	color: #7f1f7f;
	color: #E5CDE6;
	color: white;
	text-shadow:2px 2px 4px #000000;
	overflow: hidden;
	text-overflow:  ellipsis;
}

.empresa p {
	position: relative;
	top: -24;
	padding: 0;
}

.slider{
	position:absolute;
	top: 8px;
	right: 8px;
	width: 400px;
	height: 224px;
	border: white solid 4px;
	border-radius: 3mm;
	background-image: url("/img/slider1.png");
	background-size: 400px 224px;
	background-repeat: none;
	box-shadow: 4px 2px 6px black;
	z-index: 9999;
}

.menubar {
	position: absolute;
	top: 196;
	left: 0;
	height: 54;
	width: 100%;
	border: 1px solid lightgray;
	border-width: 0 0 1px 0;
	background-color: white;	
	box-shadow: 0px 4px 6px #45434C;
	z-index: 9998;
}

.menu {
	position:relative;
	top: 0;
	width: 460px;
	height: 52px;
	margin-left: auto;
	margin-right: auto;
}

.menu a {
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
}

.menu ul{
	/*padding: 2;*/
	margin-top: 4;
}

.menu li {
	display: inline;
	margin: 0;
	border: 0;
	padding: 0;
	padding-right: 12px;
}

#tema {
	position: absolute;
	top: 6px;
	left: 6px;
}

.info{
	position: absolute;
	display: none;
	top:242px;
	width: 320px;
	height: 160px;
	color: white;
	background-image: url("/img/fondos/back-info-08.png");
	text-align: center;
	font-size: 14px;
	z-index: 9999;
}

.info h2 {
	position: relative;
	top: 20; 
	color: white;
	font-style: italic;
	text-shadow: black 1px 1px 0px;
}

.info p {
	position: relative;
	top: 0; 
	left: 30;
	width: 260;
	/*margin-left: 14px;
	margin-right: 4px;*/
}

.main {
	position: absolute;
	top: 250;
	left: 0%;
	margin-top: 2;
	margin-bottom: 2;
	margin-left: auto ;
	margin-right: auto ;
	height: 480;
	width: 100%;
	background: #214478; /* Old browsers */
	/*background: -moz-linear-gradient(top, #214478 12%, #87aade 91%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#214478), color-stop(91%,#87aade)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #214478 12%,#87aade 91%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #214478 12%,#87aade 91%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #214478 12%,#87aade 91%); /* IE10+ */
	background: linear-gradient(to bottom, #214478 12%,#87aade 91%); /* W3C */
}

.contenido {
	position:relative;
	top:22;
	/*left:0;*/
	height: 640;
	width: 1024;
	color: white;
	margin-left: auto;
	margin-right: auto;
	/*border-style: solid;
	border-color: yellow; /* Para fines de desarrollo */
	/*font-size: 14px;*/
}

.contenido h1, .contenido h2, .contenido h3, .contenido p {
	margin: 4;
	padding: 4;
	text-shadow: 1px 1px 4px black;
}

.contenido h1 {
	color: white;
}

.contenido h2 {
	text-shadow: white 2px 1px 0px;
}

.contenido p {
	position: relative;
	left: 0;
	color: #241c1c;
	text-align: left;
	text-shadow: 1px 1px 1px white;
}

.promociones {
	position:absolute;
	top:22;
	right:0;
	margin: 0;
	padding: 0;
	height: 360;
	width: 19.9%;
	/*background-color:none;*/
	/*border-style: solid;
	border-color: black;
	border-top-width: 1;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;*/
	text-align: center;
}

.noticias {
	position:absolute;
	top:382;
	right:0;
	margin: 0;
	padding: 0;
	height: 360;
	width: 19.9%;
	/*background-color:none;
	border-style: solid;
	border-color: black;
	border-top-width: 1;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;*/
	text-align: center;
}

.derechos {
	position:absolute;
	top:1123;
	left:0;
	height: 47;
	width: 100%;
	text-align: center;
	color: #241c1c;
	background-color#E2DBE3;
	font-size: 14px;
}

.social {
	position: fixed;
	left: 0;
	top: 270;
	padding: 8px;
	width: 32;
	height: 78;
	color: white;
	background-color: #3C003D;
	opacity: 0.9;
	border-style: solid;
	border-width: 1px;
	border-left-width: 0;
	border-color: white;
	/*border-top-left-radius: 3mm;*/
	border-top-right-radius: 3mm;
	/*border-bottom-left-radius: 3mm;*/
	border-bottom-right-radius: 3mm;
	box-shadow: 2px 2px 4px black;
	z-index:9999;
}

.social img{
	padding-bottom: 8px;
}

.chat {
	position: fixed;
	right: 0;
	bottom: 128;
	width: 128;
	height: 64;
	color: white;
	opacity: 0.8;
	background-color: darkslateblue;
	border-style: solid;
	border-width: 1px;
	border-left-width: 0;
	border-color: white;
	border-top-left-radius: 3mm;
	/*border-top-right-radius: 3mm;*/
	border-bottom-left-radius: 3mm;
	/*border-bottom-right-radius: 3mm;*/
	text-align: center;
}
