/*Version 0.3 del estilo del layout*/
body {
	background-image:url('/img/body-bg.png');
	background-repeat:repeat-x;
	margin: 0;
	font-family: 'Play', sans-serif;
}

a:link {color:white;}
a:visited {color:yellow;}
a:hover {color:blue;}
a:active {color:yellow;}

.main {
	position: relative;
	margin-top: 2;
	margin-bottom: 2;
	border-style: solid;
	border-width: 1;
	border-color: black;
	margin-left: auto ;
	margin-right: auto ;
	height: 1536;
	width: 1024;
	background-color: #FAF9F8;
	border-top-left-radius: 6mm;
	border-top-right-radius: 6mm;
	border-bottom-left-radius: 6mm;
	border-bottom-right-radius: 6mm;
}

.logo {
	display: block;
	position:absolute;
	top:20;
	left:0;
	text-align: center;
	vertical-align: right;
	margin: 0;
	padding: 0;
	border: 0;
	height: 256;
	width: 80%;
	background-image:url("/img/logo256-0.2.png");
	background-repeat: no-repeat;
}

.ingresar {
	position:absolute;
	top:0;
	right:0;
	height: 20;
	width: 20%;
	text-align: center;
	/*background-color:green;*/
}

.slider	{
	position:absolute;
	top: 48;
	/**margin-left: auto ;
	margin-right: auto ;**/
	height: 290;
	width: 100%;
	background-color: #42413C;
	/*background-image:url("https://totophillip.pixi.me/d/1317-1/wta.jpg");
	/**border-top-left-radius: 5mm;
	border-top-right-radius: 5mm;
	/*border-bottom-left-radius: 6mm;
	border-bottom-right-radius: 6mm;*/
}

.empresa {
	position: relative;
	top: 40%;
	width: 60%;
	border: 0;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 5em;
	/*font-weight: bold;*/
	color: blue;
	/*background-color: white;*/
}

.menu {
	position:absolute;
	top:32;
	right:0;
	margin: 0;
	border: 0;
	padding: 0;
	height: 30;
	width: 50%;
	/*background-image:url('/img/menu-bg-0.2.png');
	background-repeat:repeat-x;*/
	background-color:#ED0021;
	border-top-left-radius: 2mm;
	border-top-right-radius: 2mm;
	border-bottom-right-radius: 2mm;
	border-bottom-left-radius: 2mm;
	font-weight: bold;
}

.menu a {
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
}

.menu ul{
	/*padding: 2;*/
	margin-top: 4;
}

.menu li {
	display: inline;
	margin: 0;
	border: 0;
	padding: 3;
/**	border-style: solid;
	border-color: white;
	border-top-width: 1;
	border-right-width: 1;
	border-left-width: 1;
	border-bottom-width: 1;**/
}

.contenido {
	position:absolute;
	top:340;
	left:0;
	height: 476;
	width: 80%;
	/*background-color:lightblue;*/
	border-style: solid;
	border-color: blue;
	border-top-width: 1;
	border-right-width: 1;
	border-left-width: 0;
	border-bottom-width: 1;
}

.promociones {
	position:absolute;
	top:340;
	right:0;
	margin: 0;
	padding: 0;
	height: 476;
	width: 19.9%;
	background-color:#FAF9F8;
	border-style: solid;
	border-color: blue;
	border-top-width: 1;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 1;
}

.creditos {
	position:absolute;
	top:1336;
	left:0;
	height: 200;
	width: 100%;
	text-align: center;
	color: white;
	background-color:#42413C;
	border-top-left-radius: 3mm;
	border-top-right-radius: 3mm;
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;
}
