/*Version 0.6 del estilo del layout*/
body {
	background-color: #E5E0FF;
	/*background-color: white;
	/*background-image:url('/img/simple-back04.png');*/
	background-repeat:repeat-y;
	margin: 0;
	font-family: 'Play', sans-serif;
}

a:link {color:white;}
a:visited {color:yellow;}
a:hover {color:black;}
a:active {color:yellow;}

div {
	background-color: none;
}

h2 {
	font-style: italic;
}

.topbar {
	position: absolute;
	top: 0;
	height: 50;
	width: 100%;
	border: 1px solid lightgray;
	border-width: 0 0 1px 0;
	/*border-bottom-color: gray;*/
	background-color: darkslateblue;
	background-image: url("/img/back-topbar07.svg");
	background-repeat:no-repeat;
	/*#221111;
	/*background-color:#5f0060; */
	z-index: 9998;
}

.icons {
	position: relative;
	width: 360px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: yellow;*/
}

.main {
	position: relative;
	top: 310;
	margin-top: 2;
	margin-bottom: 2;
	border-style: solid;
	border-width: 0;
	border-color: black;
	margin-left: auto ;
	margin-right: auto ;
	height: 960;
	width: 1024;
	background-color: none;
	/*background-image: url("/img/back-main-01.png");*/
	border-top-left-radius: 2mm;
	border-top-right-radius: 2mm;
	border-bottom-left-radius: 2mm;
	border-bottom-right-radius: 2mm;
}

.logo {
	position:absolute;
	/*display: block;*/
	top:30;
	left:0;
	text-align: center;
	vertical-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	height: 200;
	width: 100%;
	/*background-color: white;
	/*background-image:url("/img/logo-zinlim-02.png");
	background-repeat: no-repeat;*/
}

.ingresar {
	position:absolute;
	top:0;
	right:0;
	height: 20;
	width: 20%;
	text-align: center;
	/*background-color:green;*/
}

.ingresar a:link { color: black; }
.ingresar a:visited { color: blue; }
.ingresar a:hover { color: red; }
.ingresar a:active { color: yellow; }

.slider	{
	position:absolute;
	top: 48;
	/**margin-left: auto ;
	margin-right: auto ;**/
	height: 256;
	width: 100%;
	background-color: #510052;
	/*background-color: darkslateblue;*/
	border: 1px solid lightgray;
	border-width: 1px 0 1px 0;
	/*border-bottom-color: gray;*/
	background-image:url("/img/back01-b.png");
	background-repeat:no-repeat;
	/**border-top-left-radius: 5mm;
	border-top-right-radius: 5mm;
	/*border-bottom-left-radius: 6mm;
	border-bottom-right-radius: 6mm;*/
	color: red;
	text-align: center;
	vertical-align: bottom;
}

.empresa {
	position: relative;
	top: 80%;
	width: 60%;
	height: 64px;
	border: 0;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2em;
	/*font-weight: bold;*/
	color: #7f1f7f;
	color: #E5CDE6;
	/*background-color: white;*/
	text-shadow:2px 2px 4px #000000;
	overflow: hidden;
	text-overflow:  ellipsis;
}

.empresa p {
	position: relative;
	top: -4;
	padding: 0;
}

.banner{
	position:absolute;
	top: 0;
	right: 0;
}
.menu {
	position:relative;
	top: 0;
	width: 460px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
}

.menu a {
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
}

.menu ul{
	/*padding: 2;*/
	margin-top: 4;
}

.menu li {
	display: inline;
	margin: 0;
	border: 0;
	padding: 0;
	padding-right: 12px;
/**	border-style: solid;
	border-color: white;
	border-top-width: 1;
	border-right-width: 1;
	border-left-width: 1;
	border-bottom-width: 1;**/
}

.info{
	position: fixed;
	top:52px;
	width: 320px;
	height: 160px;
	/*margin-left: auto;
	margin-right: auto;*/	
	color: white;
	/*color: #00ACED;*/
	background-color: none;
	/*background-image: url("/img/globe06.png");
	background-image: url("/img/back-info-02.png");*/
	background-image: url("/img/back-info-black-07.png");
	text-align: center;
	/*border-style: solid;
	border-color: white;
	border-width: 2px;
	border-top-left-radius: 3mm;
	border-top-right-radius: 3mm;
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;*/
	z-index: 9999;
}

.info h2 {
	/*padding: 2px;*/
	font-style: italic;
	text-shadow: red 1px 1px 0px;
}

.info p {
	padding-left: 2px;
	padding-right: 2px;
}

.contenido {
	position:absolute;
	top:22;
	left:0;
	height: 900;
	width: 80%;
	color: #510052;
	/*color: black;*/
	background-color:none;
	border-style: none;
	border-color: black;
	border-top-width: 1;
	border-right-width: 1;
	border-left-width: 0;
	border-bottom-width: 0;
}

.contenido h1, .contenido h2, .contenido p {
	margin: 4;
	padding: 4;
	text-shadow: lightgray 1px 1px 0px;
}

.contenido h1 {
	color: #E5CDE6;
	text-shadow: black 2px 2px 4px;
}

.contenido h2 {
	text-shadow: lightgray 1px 1px 4px;
}

.contenido p {
	position: relative;
	left: 16;
}

.promociones {
	position:absolute;
	top:22;
	right:0;
	margin: 0;
	padding: 0;
	height: 450;
	width: 19.9%;
	background-color:none;
	border-style: solid;
	border-color: black;
	border-top-width: 1;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
}

.noticias {
	position:absolute;
	top:472;
	right:0;
	margin: 0;
	padding: 0;
	height: 450;
	width: 19.9%;
	background-color:none;
	border-style: solid;
	border-color: black;
	border-top-width: 1;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
}

.creditos {
	position:absolute;
	top:1286;
	left:0;
	height: 200;
	width: 100%;
	text-align: left;
	color: white;
	background-color:#510052;
	background-image: url("/img/back-creditos01.png");
	background-repeat: no-repeat;
	border-style: solid;
	border-color: gray;
	border-width:1;
	border-left-width: 0;
	border-right-width: 0;
	/*border-top-left-radius: 3mm;
	border-top-right-radius: 3mm;
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;*/
}

.creditos p {
	margin: 0;
	border: 0;
	padding: 0;
}

.creditos ul {
	list-style-type: none;
}

.servicios {
	position: absolute;
	top: 20;
	left: 4%;
	height: 160;
	width: 28%;
}

.nosotros {
	position: absolute;
	top: 20;
	left: 36%;
	height: 160;
	width: 28%;
}

.contacto {
	position: absolute;
	top: 20;
	left: 68%;
	height: 160;
	width: 28%;
}

.derechos {
	position:absolute;
	top:1488;
	left:0;
	height: 47;
	width: 100%;
	text-align: right;
	color: white;
	background-color: darkslateblue;
	font-size: 14px;
}

.social {
	position: fixed;
	left: 0;
	top: 270;
	padding: 8px;
	width: 32;
	height: 78;
	color: white;
	background-color: black;
	opacity: 0.8;
	border-style: solid;
	border-width: 1px;
	border-left-width: 0;
	border-color: white;
	/*border-top-left-radius: 3mm;*/
	border-top-right-radius: 3mm;
	/*border-bottom-left-radius: 3mm;*/
	border-bottom-right-radius: 3mm;
}

.social img{
	padding-bottom: 8px;
}

.chat {
	position: fixed;
	right: 0;
	bottom: 128;
	width: 128;
	height: 64;
	color: white;
	opacity: 0.8;
	background-color: darkslateblue;
	border-style: solid;
	border-width: 1px;
	border-left-width: 0;
	border-color: white;
	border-top-left-radius: 3mm;
	/*border-top-right-radius: 3mm;*/
	border-bottom-left-radius: 3mm;
	/*border-bottom-right-radius: 3mm;*/
	text-align: center;
}
